.program {
  display: flex;
  justify-content: space-around;
}
h4 {
  text-align: center;
  color: red;
  text-transform: uppercase;
}

#btnketqua {
  margin-left: 45px;
}

.button {
  max-width: 92%;
  margin-left: 45px;
}
